@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

/* Utilities */

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
}

/* Header */

.splash{
  height: 100vh;
}

/* Nav */

.logo h1{
  font-size: 2rem;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.nav-links{
  display: flex;
  font-size: 1.1rem;
}

.link:hover{
  border-bottom: 1px solid #004c4c;
}

.link-btn{
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background: linear-gradient(to top left, #008080, #66b2b2);
  color: #222;
}

.link-btn:hover{
  border: none;
  opacity: 0.9;
}

.nav-item{
  margin-left: 20px;
}